{% extends 'base.html.twig' %}

{% block title %}Изменение категории{% endblock %}

{% block body %}
    <div class="container container-body">
        <br>
        <h2>Изменение категории</h2>
        <br>
        {{ form_start(form) }}
        <label for="">Новое название категории</label>
        <br>
        {{ form_widget(form.name,{'attr':{'class': 'form form-control'}}) }}
        <br>
        <input type="submit" value="Сохранить" class="btn btn-primary btn-block">
        {{ form_end(form) }}
    </div>
{% endblock %}