{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="form">
            <br>
            <h2>Создание новой категории</h2>
            <br>
            {{ form_start(form) }}
            <label for="">Название категории</label>
            <br>
            {{ form_widget(form.name,{'attr':{'class': 'form form-control'}}) }}
            <br>
            <input type="submit" value="Создать" class="btn btn-primary btn-block">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}