body {
    background-color: #455a64;
}

.login-form{
    width: 500px;
}

.security-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100Vh;
}

.btn-block{
    width: 100%;
}

.h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-small{
    width: 100px;
}

.img-medium{
    width: 200px;
}

.img-large{
    width: 400px;
}

.container{
    background-color: white;
}

.nav-item{
    color: white;
}

