body {
    font-family: 'Rubik', monospace;
    background-color: #eff5f6;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #d5e8eb;
    padding: 20px 20px 0;
    font-size: 14px;
}

.login-form{
    width: 500px;
}

.security-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100Vh;
}

.btn-block{
    width: 100%;
}

.page-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-small{
    width: 100px;
}

.img-medium{
    width: 200px;
}

.img-large{
    width: 400px;
}

.container{
    flex: 1;
}

.container-body{
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
}

.nav-item{
    color: white;
}

.nav-bar{
    color: white;
}
.nav-link{
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.card-body {
    flex-grow: 1;
}

.card-footer {
    margin-top: auto;
}

.no-underline {
    color: inherit;
    text-decoration: none;
}
.no-underline:hover {
    text-decoration: underline;
}


